@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
    text-align: center;
}

.menu {
    width: 100%;
    top: 0px;
    z-index: 10;
    position: fixed;
    background-color: white;
    margin-top: 0px;
}


.item {
    display: inline;
    padding-left: 250px;
    padding-right: 100px;
    text-align: center;
    color: purple;
    font-size: 25px;
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    cursor: pointer;
}

#s1 {
    height: 100%;
    width: 100%;
    font-size: 100px;
    background-image: url(Diwali%20Blog%20Banner.png)
}

#heading {
    padding-top: 200px;
    color: white;
    font-family: 'Nothing You Could Do', cursive;
}

.item:hover {
    background-color: lavender;
}

img {
    transition: transform .2;
}

img:hover {
    transform: scale(0.9);
    border-width: 3px;
    border-color: rebeccapurple;
}

.title {
    color: darkgoldenrod;
    font-size: 50px;
    font-family: 'Nothing You Could Do', cursive;
}

.text {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 40px;
    color: rebeccapurple;
    padding-left: 200px;
    padding-right: 200px;
    text-align: left;
}

h2 {
    font-family: 'La Belle Aurore';
    color: purple;
}

a {
    text-decoration: underline;
    color: rebeccapurple;
    font-family: 'La Belle Aurore';
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}

#line {
    height: 20px;
    width: 20px;
}
